<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZDVApps.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    
    <ZDVApps.Services.Properties.Settings>
      <setting name="ActiveDirectoryContainerApproval" serializeAs="String">
        <value>OU=Approval,OU=AppV5,OU=GRP,OU=User,DC=Uni-Mainz,DC=DE</value>
      </setting>
      <setting name="ActiveDirectoryContainerSelfService" serializeAs="String">
        <value>OU=Selfservice,OU=AppV5,OU=GRP,OU=User,DC=Uni-Mainz,DC=DE</value>
      </setting>
      <setting name="ActiveDirectoryContainerUsers" serializeAs="String">
        <value>OU=User,DC=Uni-Mainz,DC=DE</value>
      </setting>
      <setting name="ActiveDirectoryContainerAppVGroups" serializeAs="String">
        <value>OU=AppV5,OU=GRP,OU=User,DC=Uni-Mainz,DC=DE</value>
      </setting>
      <setting name="ActiveDirectoryContainerEmployee" serializeAs="String">
        <value>OU=MA,OU=UserPSC,OU=User,DC=Uni-Mainz,DC=DE</value>
      </setting>
      <setting name="ActiveDirectoryContainerAppVPackages" serializeAs="String">
        <value>OU=AppV5,OU=GRP,OU=User,DC=Uni-Mainz,DC=DE</value>
      </setting>
      <setting name="ActiveDirectoryGlobalContainer" serializeAs="String">
        <value>DC=Uni-Mainz,DC=DE</value>
      </setting>
      <setting name="AppvPackages_AllPackages" serializeAs="String">
        <value />
      </setting>
          <setting name="UsersPackagesRegion" serializeAs="String">
        <value>ADUsers</value>
      </setting>
      <setting name="ADGroupsRegion" serializeAs="String">
        <value>ADGroupsRegion</value>
      </setting>
    </ZDVApps.Services.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>